@use '../abstract/variaveis';
@use '../abstract/mixins';
.controls{
    position: fixed;
    bottom: 0;
    @include mixins.display-fb(row);
    align-items: center;
    justify-content: center ;
    width: 100%;
    gap: 2rem;
    height: 3rem                                ;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    span{
        color: #fff;
        @include mixins.fs-ff-fw(1.2rem, variaveis.$font-titulo, 400)
    }
}