//variaveis

    //cores
    $lilas: #5773ff;
    $preto: #000;
    $cinza: #202026;
    $branco: #FFF;
    $verde: #22ce5e;
    $azul: #007bff;

    //fonts
    $font-titulo:"Poppins", sans-serif; 


